---
import type { TailwindColor } from "@/utils/types/tailwind";
import { MAP_COLOR_VARIANT_TO_BG } from "@/utils/mapVariants";

type Props = {
  position: "bottom" | "top";
  color: TailwindColor;
};

const { position, color } = Astro.props;
---

<div
  class:list={{
    [`fixed z-0 h-[300px] w-[300px] lg:w-[500px] lg:h-[500px] rounded-full ${MAP_COLOR_VARIANT_TO_BG[color]} blur-[50px] md:blur-[100px] opacity-25 top-[-150px] lg:top-[-150px]`]: true,
    ["left-50"]: position === "top",
    ["right-50"]: position === "bottom",
  }}
>
</div>